.booking-form {
    margin: 10px;
    padding: 10px;
    background-color: #c0c0c7;
}

.form-group {
    width: 300px;
}

.navbar {
    background-color: #373c8b;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#booking-area {
    padding-top: 5px;
    display: none;
}

#rooms-area {
    padding-top: 5px;
    display: none;
}

#clients-area {
    padding-top: 5px;
    display: none;
}

.thead {
    background-color: #6c346c;
}